<div class="container">
  <div class="page-container">
    <div class="show-title">
    </div>
      <img src="<%= cl_image_path @flat.photo.key %>" id="show-image">
      <div class="description-booking">
        <div class="description">
        <div class="description-edit d-flex justify-content-between">
          <h1><%= @flat.title %></h1>
          <div class="icons">
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, flat_path(@flat), method: :delete,
            data: { confirm: "Are you sure?" }%>
          <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_flat_path(@flat) %>
          </div>
        </div>
          <p><i class="fas fa-star"></i> 4.8 <%= @flat.location %></p>
          <p>2 guests</p>
          <hr>
          <p><%= @flat.description %></p>
          <!-- <div class="amenities">
            <div class="amenity-item">
              <img src="" alt="">
              <p>Wifi</p>
            </div>
            <div class="amenity-item">
              <img src="" alt="">
              <p>Swimming Pool</p>
            </div>
            <div class="amenity-item">
              <img src="" alt="">
              <p>Helicopter parking</p>
            </div>
            <div class="amenity-item">
              <img src="" alt="">
              <p>Security</p>
            </div>
          </div> -->
        </div>
          <div class="booking">
            <h3>Your Booking</h3>
            <p>Total: $<%= @flat.price %></p>
            <%= link_to "Reserve", new_flat_reservation_path(@flat), class: "btn btn-primary" %>
          </div>
         </div>
  </div>
</div>
