<div class="container">
  <div class="form-wrapper" style="margin: 0 auto;">
    <h1 class="mt-4">Reserve your luxury home</h1>
    <p>Give us some details first.</p>
    <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :starts_date, as: :string, required: false, input_html: {class: "datepicker", id:"range_start"} %>
      <%= f.input :ends_date, as: :string, required: false, input_html: {class: "datepicker", id:"range_end"} %>
      <%= f.input :guests, collection: 1..100 %>
      <%= f.button :submit, "Reserve", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
